body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  /*margin-top: 120px;*/
  margin-bottom: 20px;
}

#body_container {
  margin-left: 3%;
  margin-right: 3%;
}

#left_column {
  margin-top: 70px;
}

#logo {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 20pt;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/*#mid_column {
  margin-top: 70px;
}
#right_column {
  margin-top: 70px;
}*/
.create_entry {
  margin-bottom: 15px; 
}

#dropdown_people {
  width: 100%;
}

#dropdown_category {
  width: 100%;
}