body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  /*margin-top: 120px;*/
  margin-bottom: 20px;
}


#left_column {
  margin-top: 70px;
}

/*#mid_column {
  margin-top: 70px;
}
#right_column {
  margin-top: 70px;
}*/